# Create a template that will contain the parent directory name and the special value

# Example: 
# Created using ansible under directory <directory>
# The special value for this directory is <special value>